@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background: #00b61e;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .square {
    aspect-ratio: 1/1;
    padding: 1rem;
  }
  .lab {
    background-image: url("./src/assets/images/matrix_bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
  }
  .weather-night {
    background: radial-gradient(
      114.84% 135.62% at 2.19% 5.35%,
      #2d2c5b 16.67%,
      #0a0a35 62.5%
    );
  }

  .weather-day {
    background: radial-gradient(
      114.84% 135.62% at 2.19% 5.35%,
      #cecece 16.67%,
      #0500f4 62.5%
    );
  }

  .white {
    fill: #ffffff;
  }
  .gray {
    fill: #e0e0e0;
  }
  .yellow {
    fill: #ffeb3b;
  }
}
