---
import Layout from "@layouts/BlogLayout.astro"
import { Image } from "astro:assets"
import BlogHeader from "../components/blog/Header.astro"
import PostCard from "@components/blog/PostCard.astro"

import Kitty from "@assets/images/404.svg"
---

<Layout title="Jose Avila - Blog 💻">
  <main
    class="container grid grid-cols-3 md:grid-cols-4 gap-2 mx-auto md:my-5 md:gap-4 xl:px-20"
  >
    <div class="flex items-end text-black dark:text-white col-span-3 gap-8">
      <h1 class="block mb-0 text-6xl italic font-bold leading-none">Da lab</h1>
      <p>some cool things (or not) that you can read >></p>
    </div>
    <!-- <PostCard
      cols="col-span-3"
      rows="row-span-2 min-h-[300px]"
      square={false}
    />
    <PostCard cols="col-span-1 md:-mt-16" />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard />
    <PostCard /> -->
    <Image
      src={Kitty}
      alt="not found"
      class="col-span-4 mx-auto"
      draggable="false"
    />
  </main>
</Layout>

<style>
  .text-mainColor {
    color: #1abb9c;
  }

  .bg-black {
    background-color: #222222;
  }

  .bg-mainColor {
    background-color: #1abb9c;
  }

  .shadow-inner {
    box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 1);
  }

  .animate-load {
    animation: load 3s linear infinite;
  }

  .animation-delay-2s {
    animation-delay: 2s;
  }

  @keyframes load {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
      float: right;
    }
  }
</style>
