---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Jose Avila - Blog 💻">
  <main class="flex flex-col m-2 md:m-5">
    <!-- <section
      class="container grid grid-cols-3 gap-2 mx-auto md:my-5 md:grid-cols-4 md:gap-4 xl:px-20"
    >
     
    </section> -->
    <div
      class="container bg-black text-white font-sans text-center mx-auto my-[25%]"
    >
      <h3
        class="text-1.5xl font-light tracking-wider text-mainColor inline-block"
      >
        COMING SOON
      </h3>
      <div
        class="bar h-3 w-full bg-transparent rounded-full shadow-inner overflow-hidden p-1"
      >
        <div
          class="progress h-full rounded-full bg-mainColor animate-load animation-delay-2s"
        >
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  .text-mainColor {
    color: #1abb9c;
  }

  .bg-black {
    background-color: #222222;
  }

  .bg-mainColor {
    background-color: #1abb9c;
  }

  .shadow-inner {
    box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 1);
  }

  .animate-load {
    animation: load 3s linear infinite;
  }

  .animation-delay-2s {
    animation-delay: 2s;
  }

  @keyframes load {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
      float: right;
    }
  }
</style>
