---
import Layout from "@layouts/blogLayout.astro"
import { BlogHeader } from "../components/blog/header.astro"
---

<Layout title="Jose Avila - Blog 💻">
  <a href="/posts/post-1"> <i class="fa-solid fa-bug-slash"></i></a>
</Layout>

<style>
  .text-mainColor {
    color: #1abb9c;
  }

  .bg-black {
    background-color: #222222;
  }

  .bg-mainColor {
    background-color: #1abb9c;
  }

  .shadow-inner {
    box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 1);
  }

  .animate-load {
    animation: load 3s linear infinite;
  }

  .animation-delay-2s {
    animation-delay: 2s;
  }

  @keyframes load {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
      float: right;
    }
  }
</style>
