---
import Layout from "../layouts/Layout.astro"
import About from "../components/About.astro"
import ThemeSwitch from "../components/ThemeSwitch.astro"
import Language from "../components/Language.astro"
import BasicInfo from "../components/BasicInfo.astro"
---

<Layout title="Jose Avila - Software Developer 💻">
  <main
    class="container grid max-w-[1440px] grid-cols-9 gap-2 p-2 mx-auto md:grid-cols-12"
  >
    <About />
    <Language />
    <ThemeSwitch />
    <BasicInfo />
  </main>
</Layout>
