---
import { Image } from "astro:assets"

import Badge from "../assets/images/logo.svg"
import Bg from "../assets/images/me.png"
---

<div
  class="about flex flex-col justify-between relative overflow-clip bg-[#000000] text-white p-8 md:p-14 h-80 md:h-auto rounded-xl col-span-3 md:col-span-3 md:row-span-2"
>
  <Image
    src={Badge}
    class="max-w-[3rem] md:w-auto"
    alt="Jose Avila, software developer"
    draggable="false"
  />
  <section class="justify-between relative z-10 w-[100%] md:max-w-[70%]">
    <h1 class="text-xl font-black md:text-4xl">Hi, I'm Jose Ávila</h1>
    <p class="text-xs md:text-xs lg:text-base">
      Full-Stack developer with years of experience in Web development.
      Proficient in HTML, CSS, and PHP. Experience with <span
        class="underline underline-offset-1">JavaScript</span
      > frameworks and mobile such as <span class="underline underline-offset-1"
        >React Native and Flutter</span
      >. Strong understanding of user experience design. Excellent
      problem-solving and debugging skills. Ability to work independently and as
      part of a team. Passionate about learning new technologies and solving
      challenging problems.
    </p>
  </section>
  <Image
    src={Bg}
    alt="Jose Avila"
    class="absolute right-0 top-0 -z-0 w-[50%]"
    draggable="false"
  />
</div>
