---
import { Image } from "astro:assets"

import Badge from "../assets/images/badge.png"
---

<section
  id="education"
  class="education bg-[#96C93E] relative flex flex-col items-center justify-center rounded-xl col-span-2 md:col-span-2 row-span-1 overflow-clip p-4 shadow-md hover:shadow-xl hover:scale-105 transition-all"
>
  <a
    id="canvas"
    href="https://platzi.com/p/Josefosaurus/curso/4623-course/diploma/detalle/"
    target="_blank"
    class="flex justify-between gap-2 w-[100%]"
  >
    <Image
      src={Badge}
      alt="code error"
      class="h-[50px] md:h-[8rem] w-[50px] md:w-[8rem]"
    />
    <div>
      <h2
        class="text-xs md:text-xl max-w-[unset] md:max-w-[unset] font-bold text-white text-ellipsis"
      >
        Audiocurso de Frameworks y Arquitecturas Frontend: Casos de Estudio
      </h2>
      <p>Platzi - 2023</p>
    </div>
  </a>
</section>

<script>
  import JSConfetti from "js-confetti"
  const jsConfetti = new JSConfetti()
  const confetiTrigger = () => {
    jsConfetti.addConfetti()
  }
  const trigger = document.getElementById("education")

  trigger?.addEventListener("mouseenter", () => confetiTrigger())
</script>
