---

---

<section
  class="basic-info flex bg-[#50BF97] rounded-xl col-span-1 square xs:h-auto xs:square overflow-clip p-4"
>
  <p
    class="text-center text-white text-xs md:text-3xl mx-auto md:leading-[3.5rem]"
  >
    <span class="text-black text-center">
      <strong class="font-extrabold text-lg md:text-4xl">+5</strong>
      <br />
       Developer <br />
      <strong class="font-extrabold text-lg md:text-4xl">+8</strong>
      <br />
       Designer</span
    >
    <br />
     Years of experience
  </p>
</section>
