---

---

<section
  class="basic-info flex flex-col justify-center bg-[#50BF97] rounded-xl col-span-1 square xs:h-auto xs:square overflow-clip p-4"
>
  <h1>
    <a
      href=""
      class="typewrite text-black font-extrabold text-center"
      data-period="2000"
      data-type='[ "+5 YEARS", "as Developer", "+8 YEARS", "as Designer" ]'
    >
      <span class="wrap"></span>
    </a>
  </h1>
</section>

<script>
  import { TxtType } from "../utils/typing"
  window.onload = () => {
    const elements = document.getElementsByClassName("typewrite")

    for (let i = 0; i < elements.length; i++) {
      const toRotate = elements[i].getAttribute("data-type")
      const period = elements[i].getAttribute("data-period")

      if (toRotate) {
        TxtType(elements[i], JSON.parse(toRotate), period)
      }
    }
  }
</script>
