---
import { Image } from 'astro:assets'
import ES from '../assets/images/es.svg'
import EN from '../assets/images/en.svg'
import { getLangFromUrl, getPathInOtherLang } from '../i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const isEnglish = currentLang === 'en'

// Get the URL for the other language
const otherLang = isEnglish ? 'es' : 'en'
const switchUrl = getPathInOtherLang(Astro.url, otherLang)
---

<a
  href={switchUrl}
  id='langSwitch'
  class='language text-white flex flex-col justify-center gap-4 bg-blue-800 rounded-xl col-span-1 square xs:h-auto xs:square shadow-md hover:shadow-xl hover:scale-105 transition-all cursor-pointer'>
  <div class='flex justify-center flags'>
    <Image
      id='flagEsp'
      alt='Español'
      src={ES}
      class:list={['w-[2rem] md:w-[6rem]', { hidden: isEnglish }]}
    />
    <Image
      id='flagEng'
      alt='English'
      src={EN}
      class:list={['w-[2rem] md:w-[6rem]', { hidden: !isEnglish }]}
    />
  </div>
  <div class='flex justify-center gap-6'>
    <span id='esp' class:list={[{ underline: !isEnglish }]}>ESP</span>
    <span id='eng' class:list={[{ underline: isEnglish }]}>ENG</span>
  </div>
</a>
