---
import { Image } from "astro:assets"
import ES from "../assets/images/es.svg"
---

<div
  class="language flex flex-col justify-center gap-4 bg-[#F2994A] rounded-xl col-span-1 square xs:h-auto xs:square shadow-md hover:shadow-xl transition-all"
>
  <div class="flex justify-center flags">
    <Image alt="Español" src={ES} class="w-[2rem] md:w-[6rem]" />
  </div>
  <div class="flex justify-center gap-6">
    <span class="text-black underline">ES</span>
    <span>EN</span>
  </div>
</div>
