---
import { Image } from "astro:assets"
import Link from "../assets/images/link.svg"
interface Props {
  link?: string
  color?: string
  cols?: string
  rows?: string
  square?: boolean
  custom?: string
}

const { link, color, cols, rows, square = true, custom } = Astro.props
---

<section
  class:list={[
    "relative flex flex-col items-center justify-center rounded-xl xs:h-auto relative overflow-clip p-2 md:p-4 shadow-md hover:shadow-xl hover:scale-105 transition-all",
    color || "bg-white",
    rows,
    cols || "col-span-1",
    square && "square xs:square",
    custom,
  ]}
>
  <a href={link || "#"} target="_blank">
    <Image
      alt="link"
      src={Link}
      class="absolute w-4 md:w-6 h-4 md:h-6 top-2 right-2"
    />
    <slot> "inserta algo aqui pelmazo!"</slot>
  </a>
</section>
