---
import { Image } from "astro:assets"
import AudioPlayer from "./player/AudioPlayer.astro"
import { getToken } from "./player/spotifyAPI"

import Cover from "../assets/images/albumcover.png"
import Spotify from "../assets/images/spotify.svg"

const clientId = import.meta.env.CLIENT_ID
const clientSecret = import.meta.env.CLIENT_SECRET
const apiURL = import.meta.env.API_URL
const authToklien = await getToken(clientId, clientSecret)

const requestOptions = {
  method: "GET",
  headers: {
    Authorization: `Bearer ${authToklien}`,
    "Content-Type": "application/json",
  },
}

const response = await fetch(apiURL, requestOptions)
const data = await response.json()
const currentTrack = (await data?.items) && data.items[0].track

console.log("🔥", { data, requestOptions })
---

<section
  class="player-container flex flex-col justify-between relative overflow-clip bg-[#000000] text-white p-2 md:p-4 rounded-xl col-span-2 md:col-span-2 row-span-1 md:row-span-1"
>
  <Image
    alt="spotify"
    src={Spotify}
    class="absolute top-2 left-2 md:top-6 md:left-6 z-10"
  />
  <div class="player flex flex-col align-center gap-4">
    <h2 class="text-xl md:text-3xl font-bold ml-20 md:ml-0 mt-2 md:mt-20 z-10">
      Recently played
    </h2>
    <div class="flex items-center gap-4 w-[100%] md:w-[80%] z-10">
      <Image
        alt={currentTrack?.album.name || "album name"}
        height={currentTrack?.album.images[2].height || 50}
        width={currentTrack?.album.images[2].width || 50}
        src={currentTrack?.album.images[2].url || Cover}
        class="w-10 h-10 md:w-20 md:h-20"
      />

      <div class="player-info">
        <p class="text-text text-xs md:text-base">
          <strong class="">{currentTrack?.name || "album name"}</strong>
          <br /> by <span>{currentTrack?.artists[0].name || "Artist"}</span>
        </p>
        <figure></figure>
      </div>
    </div>
    <Image
      alt={currentTrack?.album.name || "💿"}
      height={currentTrack?.album.images[1].height || 300}
      width={currentTrack?.album.images[2].width || 300}
      src={currentTrack?.album.images[2].url || Cover}
      class="absolute -top-1/2 -left-1 w-[120%] opacity-[0.2] z-0 blur-sm"
      draggable="false"
    />
  </div>
</section>
